* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
}

/* nav bar */

.nav {
  width: 100vw;
  height: fit-content;
  background-color: #14213d;
  color: #e5e5e5;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  cursor: pointer;
}

.nav-links li {
transition: all 0.3s ease 0s;
}

.nav-links li:hover {
  color: #fca311;
}

a:link a:visited {
  text-decoration: none;
}

/* profile section */
.profile-img {
  width: auto;
  height: 250px;
  border-radius: 100px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  color: #14213d;
}


/* about me  */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #14213d;
}

.about-container > p {
  margin: 5px;
}


/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  background-color: #14213d;
  color: #e5e5e5;
}

.footer > h2 {
  margin: 10px
}

.fa-brands, .fa-solid {
  margin: 10px;
}
