:root {
  --teal: #10A19D;
  --purple: #540375;
  --orange: #FF7000;
  --yellow: #FFBF00;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh;
  width: 100vw; */
  font-family: 'Jost', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* nav bar */

.nav {
  width: 100vw;
  color: #e5e5e5;
  padding-top: 10px;
  position: fixed;
  top: 0%;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

a {
  color: #e5e5e5;
}

a:visited {
  text-decoration: none;
  color: #e5e5e5;
}
.nav-links li, a {
transition: all 0.3s ease 0s;
text-decoration: none;
}

.nav-links li:hover, a:hover{
  color: #fca311;
}

.logo {
  width: 5rem;
  height: 5rem;
}

/* profile section */
.profile-img {
  width: auto;
  height: 250px;
  border-radius: 100px;
  margin-right: 100px;
  border: 5px solid lightgray;
}


.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  background-image: linear-gradient(to bottom right, var(--teal), var(--purple));
}

@media (max-width: 600px) {
.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  margin: 0;
}

.profile-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

}

/* about me  */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background-image: url(./assets/images/mountain.jpeg);
  background-size: cover;
  height: 100%;
  color: #e5e5e5;
  text-shadow: 0 0 10px black;
}

.title {
  font-size: 7rem;
  color: #e5e5e5;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.about-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
}

.about-me {
width: 70%;
}


/* skills section  */

.skills-container {
  display: flex;
  flex-direction: column;
  align-items:space-evenly;
  justify-content:center;
  height: 100vh;
  background-image: url(./assets/images/blade\ runner.jpeg);
  background-size: cover;
  color: #e5e5e5;
}


.skills-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}

.skills-wrapper > section {
  font-size: 2rem;
}

li {
  list-style: none;
}

.sql {
  height: 40px;
  width: 40px;
}

.sec1 {
  margin-left: 10%;
}

/* projects section  */

.projects-divider {
  width: 100%;
  height: 200px;
  background-color: black;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-size: 4rem;
  color: #484036;
}

.help {
  text-align: right;
  margin-right: 70px;
}

.betting-app-container {
  height: 100%;
  background-color: #ecece4;
}

.help-app-container {
  height: 100%;
  background-color: #cac0a6;
}

.workout-app-container {
  height: 100%;
  background-color: #acb4b8 ;
}

.blackjack-container {
  height: 100vh;
  background-color: #cb997e;
}

.project-info {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.project-img {
  width: 30%;
  height: auto;
  margin: 20px;
  border: 1px solid darkgray;
  border-radius: 10px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description > section{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  color: #484036;
}

.project-description > section a {
  color: #484036;
  cursor: pointer;
}
.project-description > section a:hover {
  color:#FF7000;
}



/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  color: #e5e5e5;
  padding-bottom: 10px;
}

.footer > h2 {
  margin: 10px
}

.fa-brands, .fa-solid {
  margin: 10px;
}
