:root {
  --teal: #10A19D;
  --purple: #540375;
  --orange: #FF7000;
  --yellow: #FFBF00;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, var(--teal), var(--purple));
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* nav bar */

.nav {
  width: 100vw;
  color: #e5e5e5;
  padding: 10px 0px;
  position: fixed;
  top: 0%;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

a {
  color: #e5e5e5;
}

a:visited {
  text-decoration: none;
  color: #e5e5e5;
}
.nav-links li, a {
transition: all 0.3s ease 0s;
text-decoration: none;
}

.nav-links li:hover, a:hover{
  color: #fca311;
}

.logo {
  width: 100px;
  height: 100px;
  position: relative;
  right: 10%;
}




/* profile section */
.profile-img {
  width: auto;
  height: 250px;
  border-radius: 100px;
  margin-right: 100px;
  border: 5px solid lightgray;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px;
  margin-top: 150px; */
  color: #e5e5e5;
  height: 100%;
}


/* about me  */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #14213d;
  height: 100%;
  background-image: linear-gradient(to top right, var(--purple), var(--orange));
}

.about-container > p {
  margin: 5px;
}

/* projects section  */

.projects-container {
  height: 100%;
}


.blackjack-container, .workout-container, .help-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-img {
  height: 300px;
  width: 300px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  color: #e5e5e5;
  padding-bottom: 10px;
}

.footer > h2 {
  margin: 10px
}

.fa-brands, .fa-solid {
  margin: 10px;
}
